arch:
  - aarch64
  - amd64
description:
  FileBrowser Quantum provides a modern, responsive file manager with multi-source
  support, advanced authentication options, and realtime indexing for your Home
  Assistant files.
devices:
  - /dev/dri
  - /dev/dri/card0
  - /dev/dri/card1
  - /dev/dri/renderD128
  - /dev/vchiq
  - /dev/video10
  - /dev/video11
  - /dev/video12
  - /dev/video13
  - /dev/video14
  - /dev/video15
  - /dev/video16
  - /dev/ttyUSB0
  - /dev/sda
  - /dev/sdb
  - /dev/sdc
  - /dev/sdd
  - /dev/sde
  - /dev/sdf
  - /dev/sdg
  - /dev/nvme
  - /dev/nvme0
  - /dev/nvme0n1
  - /dev/nvme0n1p1
  - /dev/nvme0n1p2
  - /dev/nvme0n1p3
  - /dev/nvme1n1
  - /dev/nvme1n1p1
  - /dev/nvme1n1p2
  - /dev/nvme1n1p3
  - /dev/nvme2n1
  - /dev/nvme2n1p1
  - /dev/nvme2n1p2
  - /dev/nvme2n3p3
  - /dev/mmcblk
  - /dev/fuse
  - /dev/sda1
  - /dev/sdb1
  - /dev/sdc1
  - /dev/sdd1
  - /dev/sde1
  - /dev/sdf1
  - /dev/sdg1
  - /dev/sda2
  - /dev/sdb2
  - /dev/sdc2
  - /dev/sdd2
  - /dev/sde2
  - /dev/sdf2
  - /dev/sdg2
  - /dev/sda3
  - /dev/sdb3
  - /dev/sda4
  - /dev/sdb4
  - /dev/sda5
  - /dev/sda6
  - /dev/sda7
  - /dev/sda8
  - /dev/nvme0
  - /dev/nvme1
  - /dev/nvme2
  - /dev/md0
  - /dev/md1
  - /dev/md2
  - /dev/md3
environment:
  FB_BASEURL: /filebrowser_quantum
  PGID: "0"
  PUID: "0"
image: ghcr.io/alexbelgium/filebrowser_quantum-{arch}
ingress: true
ingress_port: 8071
ingress_stream: true
map:
  - addon_config:rw
  - media:rw
  - all_addon_configs:rw
  - homeassistant_config:rw
  - addons:rw
  - backup:rw
  - share:rw
  - ssl:rw
name: FileBrowser Quantum
options:
  env_vars: []
  auth_method: noauth
panel_admin: false
panel_icon: mdi:file-search
privileged:
  - SYS_ADMIN
  - DAC_READ_SEARCH
schema:
  env_vars:
    - name: match(^[A-Za-z0-9_]+$)
      value: str?
  auth_method: list(password|noauth|proxy|oidc)
  cifsdomain: str?
  cifspassword: str?
  cifsusername: str?
  localdisks: str?
  networkdisks: str?
slug: filebrowser_quantum
udev: true
url: https://github.com/alexbelgium/hassio-addons
version: "1.1.0"
