{
  "Signal": {
    "Proto": "${NETBIRD_SIGNAL_PROTOCOL}",
    "URI": "${NETBIRD_DOMAIN}:${NETBIRD_SIGNAL_PORT}",
    "Username": "",
    "Password": null
  },
  "ReverseProxy": {
    "TrustedHTTPProxies": [],
    "TrustedHTTPProxiesCount": 0,
    "TrustedPeers": [
      "0.0.0.0/0"
    ]
  },
  "DisableDefaultPolicy": ${NETBIRD_MGMT_DISABLE_DEFAULT_POLICY},
  "Datadir": "${NETBIRD_DATA_DIR}",
  "DataStoreEncryptionKey": "${NETBIRD_DATASTORE_ENC_KEY}",
  "StoreConfig": {
    "Engine": "${NETBIRD_STORE_CONFIG_ENGINE}"
  },
  "HttpConfig": {
    "Address": "0.0.0.0:${NETBIRD_MGMT_API_PORT}",
    "AuthIssuer": "${NETBIRD_AUTH_AUTHORITY}",
    "AuthAudience": "${NETBIRD_AUTH_AUDIENCE}",
    "AuthKeysLocation": "${NETBIRD_AUTH_JWT_CERTS}",
    "AuthUserIDClaim": "${NETBIRD_AUTH_USER_ID_CLAIM}",
    "CertFile": "${NETBIRD_MGMT_API_CERT_FILE}",
    "CertKey": "${NETBIRD_MGMT_API_CERT_KEY_FILE}",
    "OIDCConfigEndpoint": "${NETBIRD_AUTH_OIDC_CONFIGURATION_ENDPOINT}"
  }
}
