%%interface%%:%%port%% {
    reverse_proxy http://localhost:8080 {
        header_up Host {host}
        header_up X-Forwarded-For {remote}
        header_up Connection "upgrade"
        header_up Accept-Encoding ""
        @base_url {
            path /
            file {
                try_files {path} /%%ingress_entry%%
            }
        }
        handle @base_url {
            sub_filter_once off
            sub_filter_types *
            sub_filter href=\"/ href=\"%%ingress_entry%%/
            sub_filter src=\"/ src=\"%%ingress_entry%%/
            sub_filter hx-get=\"/ hx-get=\"%%ingress_entry%%/
            sub_filter action=\"/ action=\"%%ingress_entry%%/
        }
    }
}