arch:
  - aarch64
  - amd64
audio: true
description: Brave browser accessible via a web-based desktop
devices:
  - /dev/dri
  - /dev/dri/card0
  - /dev/dri/card1
  - /dev/dri/renderD128
  - /dev/vchiq
  - /dev/video10
  - /dev/video11
  - /dev/video12
  - /dev/video13
  - /dev/video14
  - /dev/video15
  - /dev/video16
  - /dev/ttyUSB0
  - /dev/sda
  - /dev/sdb
  - /dev/sdc
  - /dev/sdd
  - /dev/sde
  - /dev/sdf
  - /dev/sdg
  - /dev/nvme
  - /dev/nvme0
  - /dev/nvme0n1
  - /dev/nvme0n1p1
  - /dev/nvme0n1p2
  - /dev/nvme0n1p3
  - /dev/nvme1n1
  - /dev/nvme1n1p1
  - /dev/nvme1n1p2
  - /dev/nvme1n1p3
  - /dev/nvme2n1
  - /dev/nvme2n1p1
  - /dev/nvme2n1p2
  - /dev/nvme2n3p3
  - /dev/mmcblk
  - /dev/fuse
  - /dev/sda1
  - /dev/sdb1
  - /dev/sdc1
  - /dev/sdd1
  - /dev/sde1
  - /dev/sdf1
  - /dev/sdg1
  - /dev/sda2
  - /dev/sdb2
  - /dev/sdc2
  - /dev/sdd2
  - /dev/sde2
  - /dev/sdf2
  - /dev/sdg2
  - /dev/sda3
  - /dev/sdb3
  - /dev/sda4
  - /dev/sdb4
  - /dev/sda5
  - /dev/sda6
  - /dev/sda7
  - /dev/sda8
  - /dev/nvme0
  - /dev/nvme1
  - /dev/nvme2
environment:
  HOME: /config
  PGID: "0"
  PUID: "0"
  START_DOCKER: "false"
  TITLE: Brave Browser
  TZ: UTC
  shm_size: 1gb
image: ghcr.io/alexbelgium/brave-{arch}
ingress: true
init: false
map:
  - addon_config:rw
  - share:rw
  - ssl
name: Brave Browser
options:
  env_vars: []
  PUID: 0
  PGID: 0
  TZ: UTC
panel_admin: false
panel_icon: mdi:shield
ports:
  3000/tcp: null
  3001/tcp: null
  8082/tcp: null
ports_description:
  3000/tcp: Web interface (http)
  3001/tcp: Web interface (https)
  8082/tcp: Websocket port
privileged:
  - SYS_ADMIN
  - DAC_READ_SEARCH
schema:
  env_vars:
    - name: match(^[A-Za-z0-9_]+$)
      value: str?
  CUSTOM_USER: str?
  DRI_NODE: str?
  DRINODE: str?
  ingress_user: str?
  PASSWORD: str?
  PUID: int
  PGID: int
  TZ: str?
slug: brave
udev: true
url: https://github.com/alexbelgium/hassio-addons/tree/master/brave
version: 1.85.120-ls68-2
video: true
