name: Karakeep
version: 0.30.0-5
slug: karakeep
description: bookmark-everything app with a touch of AI for the data hoarders out there
url: https://karakeep.app/
webui: "[PROTO:ssl]://[HOST]:[PORT:8080]"
arch:
  - aarch64
  - amd64
image: ghcr.io/alexbelgium/karakeep-{arch}
init: false
hassio_api: true
map:
  - type: addon_config
    read_only: false
  - type: share
    read_only: false
  - type: ssl
backup: cold
backup_exclude:
  - "**/logs"
schema:
  TZ: str?
  ssl: bool
  certfile: str?
  keyfile: str?
  DISABLE_SIGNUPS: bool
  NEXTAUTH_SECRET: password
  MAX_ASSET_SIZE_MB: int?
  NEXTAUTH_URL: str?
  OCR_LANGS: str?
  OCR_CONFIDENCE_THRESHOLD: int(0,100)?
  OPENAI_BASE_URL: str?
  OPENAI_API_KEY: password?
  OLLAMA_BASE_URL: str?
  INFERENCE_TEXT_MODEL: str?
  INFERENCE_IMAGE_MODEL: str?
  EMBEDDING_TEXT_MODEL: str?
  INFERENCE_CONTEXT_LENGTH: int(0,)?
  INFERENCE_LANG: str?
  INFERENCE_JOB_TIMEOUT_SEC: int(0,)?
  CRAWLER_DOWNLOAD_BANNER_IMAGE: bool
  CRAWLER_STORE_SCREENSHOT: bool
  CRAWLER_FULL_PAGE_SCREENSHOT: bool
  CRAWLER_FULL_PAGE_ARCHIVE: bool
  CRAWLER_JOB_TIMEOUT_SEC: int(0,)?
  CRAWLER_NAVIGATE_TIMEOUT_SEC: int(0,)?
  CRAWLER_VIDEO_DOWNLOAD: bool?
  CRAWLER_VIDEO_DOWNLOAD_MAX_SIZE: int?
  CRAWLER_VIDEO_DOWNLOAD_TIMEOUT_SEC: int(0,)?
  CRAWLER_ENABLE_ADBLOCKER: bool
options:
  TZ: Etc/UTC
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
  DISABLE_SIGNUPS: false
  NEXTAUTH_SECRET: jnE2An0WyIKZvO+WgKJrn8WPW+c3DzV+c9ntBp8CdobTOmpJ
  MAX_ASSET_SIZE_MB: 4
  CRAWLER_DOWNLOAD_BANNER_IMAGE: true
  CRAWLER_STORE_SCREENSHOT: false
  CRAWLER_FULL_PAGE_SCREENSHOT: false
  CRAWLER_FULL_PAGE_ARCHIVE: false
  CRAWLER_ENABLE_ADBLOCKER: true
ports:
  8080/tcp: 3011
ports_description:
  8080/tcp: Web UI
