name: Social to Mealie
version: "0.1.0"
slug: social_to_mealie
description: Import recipes from social media directly into Mealie
url: https://github.com/alexbelgium/hassio-addons
arch:
  - aarch64
  - amd64
startup: services
boot: auto
host_network: false
auth_api: false
audio: false
panel_admin: false
map:
  - config:rw
  - share:rw
devices:
  - /dev/dri
  - /dev/dri/card0
  - /dev/dri/card1
  - /dev/dri/renderD128
  - /dev/vchiq
  - /dev/video10
  - /dev/video11
  - /dev/video12
  - /dev/video13
  - /dev/video14
  - /dev/video15
  - /dev/video16
  - /dev/ttyUSB0
  - /dev/sda
  - /dev/sdb
  - /dev/sdc
  - /dev/sdd
  - /dev/sde
  - /dev/sdf
  - /dev/sdg
  - /dev/nvme
  - /dev/nvme0
  - /dev/nvme0n1
  - /dev/nvme0n1p1
  - /dev/nvme0n1p2
  - /dev/nvme0n1p3
  - /dev/nvme1n1
  - /dev/nvme1n1p1
  - /dev/nvme1n1p2
  - /dev/nvme1n1p3
  - /dev/nvme2n1
  - /dev/nvme2n1p1
  - /dev/nvme2n1p2
  - /dev/nvme2n3p3
  - /dev/mmcblk
  - /dev/fuse
  - /dev/sda1
  - /dev/sdb1
  - /dev/sdc1
  - /dev/sdd1
  - /dev/sde1
  - /dev/sdf1
  - /dev/sdg1
  - /dev/sda2
  - /dev/sdb2
  - /dev/sdc2
  - /dev/sdd2
  - /dev/sde2
  - /dev/sdf2
  - /dev/sdg2
  - /dev/sda3
  - /dev/sdb3
  - /dev/sda4
  - /dev/sdb4
  - /dev/sda5
  - /dev/sda6
  - /dev/sda7
  - /dev/sda8
  - /dev/nvme0
  - /dev/nvme1
  - /dev/nvme2
environment:
  PORT: "3000"
image: ghcr.io/alexbelgium/social_to_mealie-{arch}
init: false
ports:
  3000/tcp: 3000
ports_description:
  3000/tcp: Web interface
options:
  OPENAI_URL: https://api.openai.com/v1
  OPENAI_API_KEY: ""
  TRANSCRIPTION_MODEL: whisper-1
  TEXT_MODEL: gpt-4o-mini
  MEALIE_URL: https://mealie.example.com
  MEALIE_API_KEY: ""
  MEALIE_GROUP_NAME: home
  EXTRA_PROMPT: ""
  YTDLP_VERSION: latest
  COOKIES: ""
  env_vars: []
schema:
  OPENAI_URL: str
  OPENAI_API_KEY: str
  TRANSCRIPTION_MODEL: str
  TEXT_MODEL: str
  MEALIE_URL: str
  MEALIE_API_KEY: str
  MEALIE_GROUP_NAME: str?
  EXTRA_PROMPT: str?
  YTDLP_VERSION: str?
  COOKIES: str?
  env_vars:
    - name: match(^[A-Za-z0-9_]+$)
      value: str?
udev: true
webui: "[PROTO:ssl]://[HOST]:[PORT:3000]"
