# Compress images on demand (workflow_dispatch), and at 11pm every Sunday (schedule).
# Open a Pull Request if any images can be compressed.
---
name: Compress Images
on:
  workflow_dispatch:
  schedule:
    - cron: '00 23 * * 0'

jobs:
  reduce_image_size:
    name: calibreapp/image-actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Compress Images
        id: calibre
        uses: calibreapp/image-actions@main
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true
      - name: Create New Pull Request If Needed
        if: steps.calibre.outputs.markdown != ''
        uses: peter-evans/create-pull-request@v4
        with:
          title: "Github bot : image compressed"
          branch-suffix: timestamp
          commit-message: "Github bot : image compressed"
          body: ${{ steps.calibre.outputs.markdown }} 
